---
import { ViewTransitions } from 'astro:transitions';
import { ScrollTop } from '~/components/scroll-top';
import Navigation from '~/components/navigation.astro';
import Footer from '~/components/footer.astro';

import '~/styles/globals.scss';

const { path, title, description } = Astro.props as {
  path: string;
  title: string;
  description: string;
};
---

<html lang="hu">
  <head>
    <ViewTransitions />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.ico" />

    <meta name="author" content="Zétény Nagy" />
    <link rel="author" href="https://znagy.hu" />

    <meta name="author" content="Zalán Mészáros" />

    <meta
      name="keywords"
      content="bmszc neumann jános informatikai technikum, njit, njszg, njszki, ikt, astro, sass, scss, bootstrap, school, school project, neumann, neumann jános, john von neumann,"
    />

    <meta name="color-scheme" content="light" />

    <meta property="og:locale" content="hu_HU" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Neumann Élete" />

    <meta name="application-name" content="Neumann Élete" />

    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />

    <title>{`${title} - Neumann Élete`}</title>
    <meta property="og:title" content={`${title} - Neumann Élete`} />
    <meta name="twitter:title" content={`${title} - Neumann Élete`} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />

    <meta property="og:url" content={`neumann.znagy.hu${path === '/' ? '' : path}`} />

    <meta name="generator" content={Astro.generator} />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </head>

  <body>
    <div>
      <Navigation path={path} />
      <slot />
    </div>

    <Footer />

    <ScrollTop client:load />
  </body>
</html>
